html, body, #map-canvas {
        height: 75%;
        margin: 0px;
        padding: 0px
	-webkit-user-select: none;
}
h1 {
	-webkit-user-select: none;
    	font-family:verdana;
}
p  {
	-webkit-user-select: none;
	font-family:verdana;
}

#innerText{
	text-align:center;
	position: relative;
	height:50%;
	top:25%;
	margin: auto auto;
	-webkit-user-select: none;
}


#coffeeButton {
	font-family:verdana;
	font-size:20pt;
	color: white;
	background-color:lightgreen;
  	vertical-align: middle;
	height:70px;
}

#description {
	margin-left:30px;
}
