<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Queue is closed!</h1>
<p>Please fill the water tank to <%= water %> and put in <%= coffee %> spoons of coffee.</p>

</body>
</html>
