<!DOCTYPE html>
<html>
<head>
	<title>Statistics</title>

	<link rel="stylesheet" href="styles.css"/>
</head>
<body>
	<div id="description">
	<h1>Statistics</h1>
	<p>On this page you can see statistics of this machine.</p>
	<br>
	<br>
	<% for(statistic in statistics) { %>
	<div class="wrapper">
		<form  method="post">
			<p>Registration ID:</p>
			<input type="hidden" name="action" value="remove"/>
			<div class="subscriberBox"> <%= statistic %></div>
			<p>Amount:</p>
			<div class="subscriberBox"><%= statistics[statistic] %></div>
			<br>
		</form>
	</div>
	<% } %>
</body>
</html>

