html, body, #map-canvas {
        height: 75%;
        margin: 0px;
        padding: 0px
	-webkit-user-select: none;
}
h1 {
	-webkit-user-select: none;
    	font-family:verdana;
}
h3 {
	-webkit-user-select: none;
    	font-family:verdana;
}
p  {
	-webkit-user-select: none;
	font-family:verdana;
}
form  {
	-webkit-user-select: none;
	font-family:verdana;
	font-size:10pt;
}


#innerText{
	text-align:center;
	position: relative;
	height:50%;
	top:25%;
	margin: auto auto;
	-webkit-user-select: none;
}


#coffeeButton {
	font-family:verdana;
	font-size:16pt;
	color: white;
	background-color:lightgreen;
  	vertical-align: middle;
	height:70px;
	width:100%;
	position:fixed;
	bottom:0;
	right:0;
}
.wrapper{
	margin-right:30px;
	border-top-style: solid;
	border-width: 1px;
	border-color: #AAA;
}

.subscriberBox {
	width : 50%;
	word-wrap:break-word;
	background-color: lightgreen;
	padding: 10px;

}

#description {
	margin-left:30px;
}
